/* Coolz - Settings */
/* line 5, ../sass/coolz.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/coolz.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 17, ../sass/coolz.scss */
.wrapper-main {
  position: relative;
  margin: auto;
  max-width: 1280px;
  padding: 1.25em 0;
  width: 100%;
  background: white;
}

/* line 26, ../sass/coolz.scss */
.row {
  position: relative;
  display: block;
  width: 100%;
}
/* line 31, ../sass/coolz.scss */
.row:before, .row:after {
  display: table;
  content: " ";
  clear: both;
}
/* line 37, ../sass/coolz.scss */
.row .row {
  margin-left: -1.25em;
  margin-right: -1.25em;
  width: auto;
}

/* line 44, ../sass/coolz.scss */
.col {
  float: left;
}
/* line 47, ../sass/coolz.scss */
.col:last-child {
  float: right;
}

/* line 53, ../sass/coolz.scss */
[class*="l-"],
[class*="s-"] {
  position: relative;
  display: block;
  padding: 0 1.25em 0 1.25em;
}

/* line 59, ../sass/coolz.scss */
.l-12 {
  width: 100%;
}

/* line 60, ../sass/coolz.scss */
.l-11 {
  width: 91.66667%;
}

/* line 61, ../sass/coolz.scss */
.l-10 {
  width: 83.33333%;
}

/* line 62, ../sass/coolz.scss */
.l-9 {
  width: 75%;
}

/* line 63, ../sass/coolz.scss */
.l-8 {
  width: 66.66667%;
}

/* line 64, ../sass/coolz.scss */
.l-7 {
  width: 58.33333%;
}

/* line 65, ../sass/coolz.scss */
.l-6 {
  width: 50%;
}

/* line 66, ../sass/coolz.scss */
.l-5 {
  width: 41.66667%;
}

/* line 67, ../sass/coolz.scss */
.l-4 {
  width: 33.33333%;
}

/* line 68, ../sass/coolz.scss */
.l-3 {
  width: 25%;
}

/* line 69, ../sass/coolz.scss */
.l-2 {
  width: 16.66667%;
}

/* line 70, ../sass/coolz.scss */
.l-1 {
  width: 8.33333%;
}

@media (min-width: 768px) {
  /* line 2, ../sass/_media.scss */
  .l-hide {
    display: none;
  }

  /* line 6, ../sass/_media.scss */
  .l-show {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 12, ../sass/_media.scss */
  .col {
    float: none;
  }
  /* line 15, ../sass/_media.scss */
  .col:last-child {
    float: none;
  }

  /* line 20, ../sass/_media.scss */
  [class*="l-"] {
    width: 100%;
  }

  /* line 24, ../sass/_media.scss */
  [class*="s-"] {
    width: auto;
  }

  /* line 28, ../sass/_media.scss */
  .s-12 {
    width: 100%;
  }

  /* line 29, ../sass/_media.scss */
  .s-11 {
    width: 91.66667%;
  }

  /* line 30, ../sass/_media.scss */
  .s-10 {
    width: 83.333%;
  }

  /* line 31, ../sass/_media.scss */
  .s-9 {
    width: 75%;
  }

  /* line 32, ../sass/_media.scss */
  .s-8 {
    width: 66.666%;
  }

  /* line 33, ../sass/_media.scss */
  .s-7 {
    width: 58.333%;
  }

  /* line 34, ../sass/_media.scss */
  .s-6 {
    width: 50%;
  }

  /* line 35, ../sass/_media.scss */
  .s-5 {
    width: 41.666%;
  }

  /* line 36, ../sass/_media.scss */
  .s-4 {
    width: 33.333%;
  }

  /* line 37, ../sass/_media.scss */
  .s-3 {
    width: 25%;
  }

  /* line 38, ../sass/_media.scss */
  .s-2 {
    width: 16.666%;
  }

  /* line 39, ../sass/_media.scss */
  .s-1 {
    width: 8.333%;
  }

  /* line 41, ../sass/_media.scss */
  .s-hide {
    display: none;
  }

  /* line 45, ../sass/_media.scss */
  .s-show {
    display: block;
  }
}
