/* line 15, ../sass/_coolz.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/_coolz.scss */
html, body {
  font-size: 100%;
  line-height: 100%;
}

/* line 27, ../sass/_coolz.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
  font-weight: normal;
  color: #222;
  background: #70d5c5;
}

/* line 34, ../sass/_coolz.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.6em;
  line-height: 1em;
  color: #333333;
}
/* line 39, ../sass/_coolz.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 44, ../sass/_coolz.scss */
h1 {
  font-size: 3.5em;
  line-height: 1em;
}

/* line 49, ../sass/_coolz.scss */
h2 {
  font-size: 3em;
}

/* line 53, ../sass/_coolz.scss */
h3 {
  font-size: 2.5em;
}

/* line 57, ../sass/_coolz.scss */
h4 {
  font-size: 2em;
}

/* line 61, ../sass/_coolz.scss */
h5 {
  font-size: 1.5em;
}

/* line 65, ../sass/_coolz.scss */
h6 {
  font-size: 1.2em;
}

/* line 69, ../sass/_coolz.scss */
.light {
  font-weight: normal;
}

/* line 73, ../sass/_coolz.scss */
p {
  margin-bottom: 0.6em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.4em;
}
/* line 79, ../sass/_coolz.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 84, ../sass/_coolz.scss */
a {
  color: #333333;
  text-decoration: underline;
}

/* line 90, ../sass/_coolz.scss */
img,
iframe {
  max-width: 100%;
  height: auto;
}

/* line 95, ../sass/_coolz.scss */
.wrapper-main {
  position: relative;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  background: white;
}

/* line 103, ../sass/_coolz.scss */
.row {
  position: relative;
  display: block;
  width: 100%;
}
/* line 108, ../sass/_coolz.scss */
.row .row {
  margin-left: -1.25em;
  margin-right: -1.25em;
  width: auto;
}
/* line 114, ../sass/_coolz.scss */
.row:before, .row:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 126, ../sass/_coolz.scss */
.columns,
.column,
.col,
.cols,
.cool,
.coolz {
  float: left;
}
/* line 129, ../sass/_coolz.scss */
.columns:last-child,
.column:last-child,
.col:last-child,
.cols:last-child,
.cool:last-child,
.coolz:last-child {
  float: right;
}

/* line 134, ../sass/_coolz.scss */
[class^="large-"] {
  position: relative;
  display: block;
  border: 1px solid #eeeeee;
  padding: 1.25em;
}

/* line 141, ../sass/_coolz.scss */
.large-12 {
  width: 100%;
}

/* line 145, ../sass/_coolz.scss */
.large-11 {
  width: 91.666%;
}

/* line 149, ../sass/_coolz.scss */
.large-10 {
  width: 83.333%;
}

/* line 153, ../sass/_coolz.scss */
.large-9 {
  width: 75%;
}

/* line 157, ../sass/_coolz.scss */
.large-8 {
  width: 66.666%;
}

/* line 161, ../sass/_coolz.scss */
.large-7 {
  width: 58.333%;
}

/* line 165, ../sass/_coolz.scss */
.large-6 {
  width: 50%;
}

/* line 169, ../sass/_coolz.scss */
.large-5 {
  width: 41.666%;
}

/* line 173, ../sass/_coolz.scss */
.large-4 {
  width: 33.333%;
}

/* line 177, ../sass/_coolz.scss */
.large-3 {
  width: 25%;
}

/* line 181, ../sass/_coolz.scss */
.large-2 {
  width: 16.666%;
}

/* line 185, ../sass/_coolz.scss */
.large-1 {
  width: 8.333%;
}

@media (max-width: 767px) {
  /* line 2, ../sass/_media.scss */
  .columns, .column {
    float: none;
  }
  /* line 5, ../sass/_media.scss */
  .columns:last-child, .column:last-child {
    float: none;
  }

  /* line 10, ../sass/_media.scss */
  [class^="large-"] {
    width: 100%;
  }
}
