/* > YOUR MIXINS GOES HERE < */
/* line 15, ../sass/_coolz.scss */
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 22, ../sass/_coolz.scss */
html, body {
  font-size: 100%;
  line-height: 100%;
}

/* line 27, ../sass/_coolz.scss */
body {
  font-family: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
  font-weight: normal;
  color: #222;
  background: #70d5c5;
}

/* line 34, ../sass/_coolz.scss */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.3em;
  line-height: 1em;
  color: #333333;
}
/* line 39, ../sass/_coolz.scss */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  text-decoration: none;
}

/* line 44, ../sass/_coolz.scss */
h1 {
  margin-bottom: 0.2em;
  font-size: 3.5em;
}

/* line 49, ../sass/_coolz.scss */
h2 {
  margin-bottom: 0.3em;
  font-size: 3em;
}

/* line 54, ../sass/_coolz.scss */
h3 {
  margin-bottom: 0.3em;
  font-size: 2.5em;
}

/* line 59, ../sass/_coolz.scss */
h4 {
  font-size: 2em;
}

/* line 63, ../sass/_coolz.scss */
h5 {
  font-size: 1.5em;
}

/* line 67, ../sass/_coolz.scss */
h6 {
  font-size: 1.2em;
}

/* line 72, ../sass/_coolz.scss */
.light,
.thin {
  font-weight: normal;
}

/* line 76, ../sass/_coolz.scss */
p {
  margin-bottom: 0.6em;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2em;
  line-height: 1.4em;
}
/* line 82, ../sass/_coolz.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 87, ../sass/_coolz.scss */
a {
  color: #333333;
  text-decoration: underline;
}

/* line 93, ../sass/_coolz.scss */
img,
iframe {
  max-width: 100%;
  height: auto;
}

/* line 98, ../sass/_coolz.scss */
pre {
  margin-bottom: 1.25em;
  border: 1px solid #ccc;
  padding: 5px 8px 5px 8px;
  word-break: break-all;
  background-color: #eee;
  overflow-x: hidden;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 107, ../sass/_coolz.scss */
pre code {
  word-break: break-all;
}

/* line 112, ../sass/_coolz.scss */
.wrapper-main {
  position: relative;
  margin: auto;
  max-width: 1280px;
  width: 100%;
  background: white;
}

/* line 120, ../sass/_coolz.scss */
.row {
  position: relative;
  display: block;
  width: 100%;
}
/* line 125, ../sass/_coolz.scss */
.row .row {
  margin-left: -1.25em;
  margin-right: -1.25em;
  width: auto;
}
/* line 131, ../sass/_coolz.scss */
.row:before, .row:after {
  display: table;
  content: " ";
  clear: both;
}

/* line 143, ../sass/_coolz.scss */
.columns,
.column,
.col,
.cols,
.cool,
.coolz {
  float: left;
}
/* line 146, ../sass/_coolz.scss */
.columns:last-child,
.column:last-child,
.col:last-child,
.cols:last-child,
.cool:last-child,
.coolz:last-child {
  float: right;
}

/* line 158, ../sass/_coolz.scss */
[class*="Large-"],
[class*="large-"],
[class*="L-"],
[class*="l-"],
[class*="Small-"],
[class*="small-"],
[class*="S-"],
[class*="s-"] {
  position: relative;
  display: block;
  padding: 1.25em;
}

/* line 168, ../sass/_coolz.scss */
.demo [class*="L-"],
.demo [class*="l-"],
.demo [class*="S-"],
.demo [class*="s-"] {
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  background-color: #E37863;
}
/* line 174, ../sass/_coolz.scss */
.demo [class*="L-"]:nth-child(odd),
.demo [class*="l-"]:nth-child(odd),
.demo [class*="S-"]:nth-child(odd),
.demo [class*="s-"]:nth-child(odd) {
  background-color: #eb9f90;
}

/* line 183, ../sass/_coolz.scss */
.Large-12,
.large-12,
.L-12,
.l-12 {
  width: 100%;
}

/* line 190, ../sass/_coolz.scss */
.Large-11,
.large-11,
.L-11,
.l-11 {
  width: 91.666%;
}

/* line 197, ../sass/_coolz.scss */
.Large-10,
.large-10,
.L-10,
.l-10 {
  width: 83.333%;
}

/* line 204, ../sass/_coolz.scss */
.Large-9,
.large-9,
.L-9,
.l-9 {
  width: 75%;
}

/* line 211, ../sass/_coolz.scss */
.Large-8,
.large-8,
.L-8,
.l-8 {
  width: 66.666%;
}

/* line 218, ../sass/_coolz.scss */
.Large-7,
.large-7,
.L-7,
.l-7 {
  width: 58.333%;
}

/* line 225, ../sass/_coolz.scss */
.Large-6,
.large-6,
.L-6,
.l-6 {
  width: 50%;
}

/* line 232, ../sass/_coolz.scss */
.Large-5,
.large-5,
.L-5,
.l-5 {
  width: 41.666%;
}

/* line 239, ../sass/_coolz.scss */
.Large-4,
.large-4,
.L-4,
.l-4 {
  width: 33.333%;
}

/* line 246, ../sass/_coolz.scss */
.Large-3,
.large-3,
.L-3,
.l-3 {
  width: 25%;
}

/* line 253, ../sass/_coolz.scss */
.Large-2,
.large-2,
.L-2,
.l-2 {
  width: 16.666%;
}

/* line 260, ../sass/_coolz.scss */
.Large-1,
.large-1,
.L-1,
.l-1 {
  width: 8.333%;
}

/* > YOUR SCSS GOES HERE < */
/* > IE SCSS GOES HERE < */
@media (min-width: 768px) {
  /* line 3, ../sass/_media.scss */
  .L-hide,
  .l-hide {
    display: none;
  }

  /* line 8, ../sass/_media.scss */
  .L-show,
  .l-show {
    display: block;
  }
}
@media (max-width: 767px) {
  /* line 19, ../sass/_media.scss */
  .columns,
  .column,
  .col,
  .cols,
  .cool,
  .coolz {
    float: none;
  }
  /* line 22, ../sass/_media.scss */
  .columns:last-child,
  .column:last-child,
  .col:last-child,
  .cols:last-child,
  .cool:last-child,
  .coolz:last-child {
    float: none;
  }

  /* line 28, ../sass/_media.scss */
  [class*="L-"],
  [class*="l-"] {
    width: 100%;
  }

  /* line 33, ../sass/_media.scss */
  [class*="S-"],
  [class*="s-"] {
    width: auto;
  }

  /* line 38, ../sass/_media.scss */
  .S-12,
  .s-12 {
    width: 100%;
  }

  /* line 43, ../sass/_media.scss */
  .S-11,
  .s-11 {
    width: 91.666%;
  }

  /* line 48, ../sass/_media.scss */
  .S-10,
  .s-10 {
    width: 83.333%;
  }

  /* line 53, ../sass/_media.scss */
  .S-9,
  .s-9 {
    width: 75%;
  }

  /* line 58, ../sass/_media.scss */
  .S-8,
  .s-8 {
    width: 66.666%;
  }

  /* line 63, ../sass/_media.scss */
  .S-7,
  .s-7 {
    width: 58.333%;
  }

  /* line 68, ../sass/_media.scss */
  .S-6,
  .s-6 {
    width: 50%;
  }

  /* line 73, ../sass/_media.scss */
  .S-5,
  .s-5 {
    width: 41.666%;
  }

  /* line 78, ../sass/_media.scss */
  .S-4,
  .s-4 {
    width: 33.333%;
  }

  /* line 83, ../sass/_media.scss */
  .S-3,
  .s-3 {
    width: 25%;
  }

  /* line 88, ../sass/_media.scss */
  .S-2,
  .s-2 {
    width: 16.666%;
  }

  /* line 93, ../sass/_media.scss */
  .S-1,
  .s-1 {
    width: 8.333%;
  }

  /* line 98, ../sass/_media.scss */
  .S-hide,
  .s-hide {
    display: none;
  }

  /* line 103, ../sass/_media.scss */
  .S-show,
  .s-show {
    display: block;
  }
}
