// settings
$grid: 1280px;
$gutter: 1.25em;
$margin: 0.6em;
$border: 1px solid #eee;

$txtSize: 1.2em;
$lineHeight: 1.4em;
$txtColor: #333;
$linkColor: #333;

$bgColor: #70D5C5;
$wrapperBgColor: white;

*, *:before, *:after{
	margin: 0;
	padding: 0;
	outline: none;
	@include box-sizing(border-box);
}

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #222;
	background: $bgColor;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 0.3em;
	line-height: 1em;
	color: $txtColor;

	a{
		text-decoration: none;
	}
}

h1{
	margin-bottom: 0.2em;
	font-size: 3.5em;
}

h2{
	margin-bottom: 0.3em;
	font-size: 3em;
}

h3{
	margin-bottom: 0.3em;
	font-size: 2.5em;
}

h4{
	font-size: 2em;
}

h5{
	font-size: 1.5em;
}

h6{
	font-size: 1.2em;
}

.light, 
.thin{
	font-weight: normal;
}

p{
	margin-bottom: $margin;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: $txtSize;
	line-height: $lineHeight;

	&:last-child{
		margin-bottom: 0;
	}
}

a{
	color: $linkColor;
	text-decoration: underline;
}

img, 
iframe{
	max-width: 100%;
	height: auto;
}

pre{
	margin-bottom: $gutter;
	border: 1px solid #ccc;
	padding: 5px 8px 5px 8px;
	word-break: break-all;
	background-color: #eee;
	overflow-x: hidden;
	@include border-radius(4px);

	code{
		word-break: break-all;
	}
}

.wrapper-main{
	position: relative;
	margin: auto;
	max-width: $grid;
	width: 100%;
	background: $wrapperBgColor;
}

.row{
	position: relative;
	display: block;
	width: 100%;

	.row{
		margin-left: -$gutter;
		margin-right: -$gutter;
		width: auto;
	}

	&:before, &:after{
		display: table;
		content: " ";
		clear: both;
	}
}

.columns, 
.column, 
.col, 
.cols, 
.cool, 
.coolz{
	float: left;

	&:last-child{
		float: right;
	}
}

[class*="Large-"], 
[class*="large-"], 
[class*="L-"], 
[class*="l-"], 
[class*="Small-"], 
[class*="small-"], 
[class*="S-"], 
[class*="s-"]{
	position: relative;
	display: block;
	padding: $gutter;
}

.demo{
	[class*="L-"], 
	[class*="l-"], 
	[class*="S-"], 
	[class*="s-"]{
		border: 1px solid #fff;
		color: #fff;
		text-align: center;
		background-color: #E37863;

		&:nth-child(odd){
			background-color: #eb9f90;
		}
	}
}

.Large-12, 
.large-12, 
.L-12, 
.l-12{
	width: 100%;
}

.Large-11, 
.large-11, 
.L-11, 
.l-11{
	width: 91.666%;
}

.Large-10, 
.large-10, 
.L-10, 
.l-10{
	width: 83.333%;
}

.Large-9, 
.large-9, 
.L-9, 
.l-9{
	width: 75%;
}

.Large-8, 
.large-8,
.L-8, 
.l-8{
	width: 66.666%;
}

.Large-7, 
.large-7, 
.L-7, 
.l-7{
	width: 58.333%;
}

.Large-6, 
.large-6, 
.L-6, 
.l-6{
	width: 50%;
}

.Large-5, 
.large-5, 
.L-5, 
.l-5{
	width: 41.666%;
}

.Large-4, 
.large-4, 
.L-4, 
.l-4{
	width: 33.333%;
}

.Large-3, 
.large-3, 
.L-3, 
.l-3{
	width: 25%;
}

.Large-2, 
.large-2, 
.L-2, 
.l-2{
	width: 16.666%;
}

.Large-1, 
.large-1, 
.L-1, 
.l-1{
	width: 8.333%;
}