// settings
$grid: 1280px;
$gutter: 1.25em;
$margin: 0.6em;
$border: 1px solid #eee;

$txtSize: 1.2em;
$lineHeight: 1.4em;
$txtColor: #333;
$linkColor: #333;

$bgColor: #70D5C5;
$wrapperBgColor: white;

*, *:before, *:after{
	margin: 0;
	padding: 0;
	outline: none;
	@include box-sizing(border-box);
}

html, body{
	font-size: 100%;
	line-height: 100%;
}

body{
	font-family: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
	font-weight: normal;
	color: #222;
	background: $bgColor;
}

h1, h2, h3, h4, h5, h6{
	margin-bottom: 0.3em;
	line-height: 1em;
	color: $txtColor;

	a{
		text-decoration: none;
	}
}

h1{
	margin-bottom: 0.2em;
	font-size: 3.5em;
}

h2{
	margin-bottom: 0.3em;
	font-size: 3em;
}

h3{
	margin-bottom: 0.3em;
	font-size: 2.5em;
}

h4{
	font-size: 2em;
}

h5{
	font-size: 1.5em;
}

h6{
	font-size: 1.2em;
}

.light, 
.thin{
	font-weight: normal;
}

p{
	margin-bottom: $margin;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: $txtSize;
	line-height: $lineHeight;

	&:last-child{
		//margin-bottom: 0;
	}
}

a{
	color: $linkColor;
	text-decoration: underline;
}

img, 
iframe{
	margin-bottom: $margin;
	max-width: 100%;
	height: auto;
}

pre{
	margin-bottom: $gutter;
	border: 1px solid #ccc;
	padding: 5px 8px 5px 8px;
	word-break: break-all;
	background-color: #eee;
	overflow-x: hidden;
	@include border-radius(4px);

	code{
		word-break: break-all;
	}
}

.wrapper-main{
	position: relative;
	margin: auto;
	max-width: $grid;
	padding: $gutter 0;
	width: 100%;
	background: $wrapperBgColor;
}

.row{
	position: relative;
	display: block;
	width: 100%;

	.row{
		margin-left: -$gutter;
		margin-right: -$gutter;
		width: auto;
	}

	&:before, &:after{
		display: table;
		content: " ";
		clear: both;
	}
}

.columns, 
.column, 
.col, 
.cols, 
.cool, 
.coolz{
	float: left;

	&:last-child{
		float: right;
	}
}

[class*="Large-"], 
[class*="large-"], 
[class*="L-"], 
[class*="l-"], 
[class*="Small-"], 
[class*="small-"], 
[class*="S-"], 
[class*="s-"]{
	position: relative;
	display: block;
	padding: 0 $gutter 0 $gutter;
}

.demo{
	[class*="L-"], 
	[class*="l-"], 
	[class*="S-"], 
	[class*="s-"]{
		border: 1px solid #fff;
		padding: $gutter;
		color: #fff;
		text-align: center;
		background-color: #E37863;

		&:nth-child(odd){
			background-color: #eb9f90;
		}
	}
}

.l-12{
	width: percentage(12/12);
}

.l-11{
	width: percentage(11/12);
}

.l-10{
	width: percentage(10/12);
}

.l-9{
	width: percentage(9/12);
}

.l-8{
	width: percentage(8/12);
}

.l-7{
	width: percentage(7/12);
}

.l-6{
	width: percentage(6/12);
}

.l-5{
	width: percentage(5/12);
}

.l-4{
	width: percentage(4/12);
}

.l-3{
	width: percentage(3/12);
}

.l-2{
	width: percentage(2/12);
}

.l-1{
	width: percentage(1/12);
}