@media(screen and max-width: 767px){
	.columns, 
	.column, 
	.col, 
	.cols, 
	.cool, 
	.coolz{
		float: none;

		&:last-child{
			float: none;
		}
	}

	[class^="L-"], 
	[class^="l-"]{
		width: 100%;
	}
}