/* Coolz - Settings */

$grid: 1280px; /* Change to 100% for fluid grid */
$gutter: 1.25em;

$fontFamily: "Helvetica Neue", "Helvetica", helvetica, arial, sans-serif;
$fontSize: 100%;
$lineHeight: 100%;
$color: #222;
$linkColor: #222;